*{
/*   margin: 0px; */
/*   padding: 0px; */
  font-family: Arial;
  text-decoration: none;
/*   margin: auto; */
}

.principal{
/*   background-color: #fff; */
  width: 1005px;
  text-align: center;
  height: 150px;
  margin-left: 145px;
  margin-top: 0;
/*   padding: 10px; */
/*   margin-left: 200px; */
} 
#header123{
  width: 100%;
  height: 662px;
  
  
}
#headerlogin{
  background-color: ; 
  width: 676px;
/*   height: 100px; */
  margin-left: 288px;
  text-align: left;
}
#header_logo{
  margin: 15px 0 13px;
  width: 288px;
  margin-top: 30px;
  float: left;
}
#login{
/*   background-color: #ff0; */
/*   width:400px; */
/*   position: absolute; */
  font-size: 12px;
  float: left;
  width: 400px;
  height: 75px;
/*   margin-left: 100px; */
}
#listadedesejos{
  background-color: rgba(0,000,00,0.05);
  width: 662px;
  height: 75px;
  margin-left: 5px;
  border-radius:0 0 8px 8px;
}

#busca{
/*   background-color:  brown; */
  margin-top: 10px;
  background-image: url(header_busca.png);
  height: 62px;
}
#texto_busca{
  margin-top: 16px;
  margin-left: 15px;
  border: 0px;
  width: 465px;
  height: 22px;
  float: left;
  
}

#botao_busca{
  margin-top: 16px;
  margin-left:24px;
  width:152px;
  height: 30px;
  background-image: url(bot_busca.jpg);
  border: none;
  cursor: pointer;
}



.drop{
  background-color: #0ff;
}

.bodyy{
  background-image: url("background.jpg");
  background-repeat: no-repeat;
}

header{
  background-color: #fff;
  width: 60%;
}

nav{
  background-color: #f50;
  font-size: 15px;
  padding: 10px;
  width: 750px;
  height: 20px;
  margin-top: 40px;
}