*{
/*   margin: 0px; */
/*   padding: 0px; */
  font-family: Arial;
  text-decoration: none;
/*   margin: auto; */
}

.principal{
/*   background-color: #fff; */
  width: 1005px;
  text-align: center;
  height: 150px;
  margin-left: 19%;
/*! margin-top: -9px; */
/*   padding: 10px; */
/*! margin-left: 200px; */
} 
#header{
  width: 1005px;;
  height: 180px;
}
#headerlogin{
  background-color:  ;
  width: 676px;
/*   height: 100px; */
  margin-left: 288px;
  text-align: left;
}
#header_logo{
/*   margin: 15px 0 13px; */
  width: 288px;
  margin-top: 19px;
  margin-left: 13px;
/*   margin-left: 35px; */
  float: left;
}
.login1{
/*  background-color: rgba(000,000,000,0.6); */
  color: white;
  border-radius: 8px 8px 8px 8px;
  font-size: 12px;
  float: left;
/*   padding: 0px 7px 5px; */
  width: 373px;
  height: 26px;
  margin-top: -8px;
  margin-left:18px;
}
.login1itens{
   font-size: 11px;
  text-align: left;
  float: left;
  letter-spacing: -.5px;
  list-style: none;
/*   padding-bottom: 9px; */
  margin-right:22px;
}
.login2{
  background-color: rgba(000,000,000,0.6);
  color: white;
  border-radius: 8px 8px 8px 8px;
  font-size: 12px;
  float: left;
  padding: 0px 7px 5px;
  width: 373px;
  height: 26px;
  margin-top: 17px;
  margin-left:29px;
/*   margin-left: 100px; */
}
.login2itens{
  font-size: 11px;
  text-align: left;
  float: left;
  letter-spacing: -.5px;
  list-style: none;
/*   padding-bottom: 9px; */
  margin-right:20px;
}
.login2itensul{
/*   margin-right: px; */
  
}
#headercarrinho{
  background-color: rgba(000,000,000,0.6);
  border-radius: 0px 0px 8px 8px;
/*   border-block-style:  outset; */
  font-size: 12px;
  width: 254px;
  height: 81px;
  margin-left: 1px;
  margin-right: 10px;
/*   border-radius:0 0 8px 8px; */
  margin-top: -16px;
  float: right;
}
#listadedesejos{
/*   background-image: url(listadedesejos.jpg); */
  background-repeat: no-repeat;
  margin-top: 23px;
  margin-left: 10px;
  letter-spacing: -.5px;
  font-size: 11px;
/*   float:left; */
}
.listadedesejosA{
  color: white;
}
.separadorimagem{
  float: left;
  margin-left: 8px;
}
.carrinhoimagem{
 float: left;
  margin-left: 12px;
  margin-top: -4px;
}
.divcarrinho{
  float: left;
  color: white;
  text-align: right;
  text-shadow: 1px 1px 1px #000;
  margin-left: 10px;
}
.blocolistadedesejosA{
}

#text-lista{
  img url(carrinho.jpg);
  background-repeat: no-repeat;
  float: right;
/*   margin-top: 20px; */
  margin-right: 50px; 
}
.listadedesejosAimagem{
/*   margin-right: 180px; */
  float: left;
}
.blocolistadedesejosA{
  margin-left:5px;
  margin-bottom: px;
  float: left
}

#busca{
/*   background-color:  brown; */
  margin-top: 20px;
  background-image: url(header_busca.png);
  width: 655px;
  height: 63px;
  float: right;
  margin-right: 21px;
}
#texto_busca{
  margin-top: 16px;
  margin-left: 15px;
  border: 0px;
  width: 465px;
  height: 22px;
  float: left;
}

#botao_busca{
  margin-top: 17px;
  margin-left:18px;
  width:148px;
  height: 30px;
  background-image: url(bot_busca.jpg);
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
}
.drop{
/*   ! background-color: #0ff; */
  color: white;
  padding: 3px;
}
.drop:hover{
  color: black;
  border-radius:3px;
  border-width: 1px;
  background-color:rgba(255,255,255,0.5);
  border-style: solid;
}

.bodyy{
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  margin-top: 0;
}

.menutopzera{
  list-style: none;
  padding: 1px 0px 0 20px;
}

.itemmenu{
  float: left;
  margin-left: 8px;
/*   font-size: 14px; */
}
nav{
/*   background-color: #f50; */
  font-size: 12px;
/*   padding: 20px; */
  width: 1006px;
  height: 50px;
  background-repeat: no-repeat;
  margin-top: -15px;
  padding: 1px;
  margin-left: 6px;
  letter-spacing: -.5px;
  background-image: url(fundo_menu2.png);
}
